<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>
About | <SITE_TITLE> | <SUB_TITLE>
</title>
<!-- Link for ATOM feed autodiscovery -->
<ATOM_AUTODETECT_LINK>
<!-- Link for RSS feed autodiscovery -->
<RSS_AUTODETECT_LINK>
<!-- META -->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="content-type" name="keywords" content="PhotoBlog,<SITE_TITLE>,Pixelpost" />
<meta http-equiv="content-type" name="description" content="<SITE_TITLE>-PhotoBlog:" />
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="templates/supaclean/styles/light.css" title="light" />
<link rel="alternate stylesheet" type="text/css" href="templates/supaclean/styles/dark.css" title="dark" />
<!-- SCRIPTS -->
<script type="text/javascript" src="templates/supaclean/js/jquery.js"></script>
<script type="text/javascript" src="templates/supaclean/js/styleswitcher.js"></script>


</head>
<body>
<div class="container">
<div id="banner">
  <h1><a href="<SITE_URL>" title="Return to current image"><SITE_TITLE></a></h1>
  <div class="menu">
  <a href="index.php" title="Return to Homepage" class="first">Home</a>
      <a href="<SITE_BROWSELINK>">Browse</a>
      <a href="index.php?x=about" title="About">About</a>
      <SITE_RSS_LINK>
	  
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  Style: <a href="#" class="light" onclick="setActiveStyleSheet('light'); return false;" title="Light">&nbsp;</a> <a href="#" class="dark" onclick="setActiveStyleSheet('dark'); return false;" title="Dark">&nbsp;</a>
  </div>
</div>
<div class="mainBody">
  
  <div class="about">
	
	
  	<div class="content">
		<h2>About</h2>
  	    <p>Lorem ipsum dolor sit amet, consectetuer
  	      adipiscing elit, sed diam nonummy nibh
  	      euismod tincidunt ut laoreet dolore magna
  	      aliquam erat volutpat. Ut wisi enim ad
  	      minim veniam, quis nostrud exerci tation
  	      ullamcorper suscipit lobortis nisl ut
  	      aliquip ex ea commodo consequat. Duis
  	      autem vel eum iriure dolor in hendrerit
  	      in vulputate velit esse molestie consequat,
  	      vel illum dolore eu feugiat nulla facilisis
  	      at vero eros et accumsan et iusto odio
  	      dignissim qui blandit praesent luptatum
  	      zzril delenit augue duis dolore te feugait
  	      nulla facilisi. Lorem ipsum dolor sit
  	      amet, consectetuer adipiscing elit, sed
  	      diam nonummy nibh euismod tincidunt ut
  	      laoreet dolore magna aliquam erat volutpat.</p>
  	    <p>Ut
  	        wisi enim ad minim veniam, quis nostrud
        exerci tation ullamcorper suscipit lobortis
        nisl ut aliquip ex ea commodo consequat.
        Duis autem vel eum iriure dolor in hendrerit
        in vulputate velit esse molestie consequat,
        vel illum dolore eu feugiat nulla facilisis
        at vero eros et accumsan et iusto odio
  	      dignissim qui blandit praesent luptatum
  	      zzril delenit augue duis dolore te
  	      feugait nulla facilisi.</p>
  	    <p>Nam liber tempor
  	        cum soluta nobis eleifend option
  	      congue nihil imperdiet doming id quod
  	      mazim placerat facer possim assum. Lorem
  	      ipsum dolor sit amet, consectetuer adipiscing
  	        elit, sed diam nonummy nibh euismod
  	        tincidunt ut laoreet dolore magna
  	      aliquam erat volutpat. Ut wisi enim
  	      ad minim veniam, quis nostrud exerci
  	      tation ullamcorper suscipit lobortis
  	      nisl ut aliquip ex ea commodo consequat. </p>
	  </div>
	<div class="columns">
		<div class="column"><div class="content"><h3>Top Commenters</h3> <TOP_COMMENTERS_BASIC max="6" total="on" tag="ul"> </div></div>
		<div class="column"><div class="content"><h3>Links</h3>
		<ul>
<li><a href="http://www.pixelpost.org">Pixelpost.org</a> - This is the application that runs this photoblog.</li>
<li><a href="http://www.photoblogs.org">Photoblogs.org</a> - Pretty much the oracle of photoblog community.</li>
</ul></div></div>
		<div class="column"><div class="content"> <h3>Additional Links:
        </h3>
        <ul>
<li><a href="http://www.photoblogsmagazine.org">PhotoblogsMagazine.org</a></li>
<li><a href="http://www.photofriday.com">PhotoFriday.com</a></li>
<li><a href="http://photos.vfxy.com/">VFXY</a></li>
<li><a href="http://www.jpgmag.com">JPGmag.com</a></li>
<li><a href="http://www.coolphotoblogs.com/">CoolPhotoblogs.com</a></li>
</ul></div></div>
	</div>
  </div>

  
  <div class="footer">
  

  
  all
    images &copy; <a href="<SITE_URL>"><SITE_TITLE></a></div>
</div>
  </div>
  
</body>
</html>
