<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>
Browse | <SITE_TITLE> | <SUB_TITLE>
</title>
<!-- Link for ATOM feed autodiscovery -->
<ATOM_AUTODETECT_LINK>
<!-- Link for RSS feed autodiscovery -->
<RSS_AUTODETECT_LINK>
<!-- META -->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="content-type" name="keywords" content="PhotoBlog,<SITE_TITLE>,Pixelpost" />
<meta http-equiv="content-type" name="description" content="<SITE_TITLE>-PhotoBlog:" />
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="templates/supaclean/styles/light.css" title="light" />
<link rel="alternate stylesheet" type="text/css" href="templates/supaclean/styles/dark.css" title="dark" />
<!-- js -->
<script type="text/javascript" src="templates/supaclean/js/jquery.js"></script>
<script type="text/javascript" src="templates/supaclean/js/styleswitcher.js"></script>


</head>
<body>
<div class="container">
<div id="banner">
  <h1><a href="<SITE_URL>" title="Return to current image"><SITE_TITLE></a></h1>
  <div class="menu">
  <a href="index.php" title="Return to Homepage" class="first">Home</a>
      <a href="<SITE_BROWSELINK>">Browse</a>
      <a href="index.php?x=about" title="About">About</a>
      <SITE_RSS_LINK>
	  
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  Style: <a href="#" class="light" onclick="setActiveStyleSheet('light'); return false;" title="Light">&nbsp;</a> <a href="#" class="dark" onclick="setActiveStyleSheet('dark'); return false;" title="Dark">&nbsp;</a>
  </div>
</div>
<div class="mainBody">
  
  <div class="archive">
  <div class="tags">
  	<h2>Browse</h2>
  	<BROWSE_CATEGORIES>&nbsp;&nbsp;<TAG_MENU>
  </div>
  <div class="thumbs">
  <THUMBNAILS></div>
  </div>

  
  <div class="footer">
  

  
  all
    images &copy; <a href="<SITE_URL>"><SITE_TITLE></a></div>
</div>
  </div>
  
</body>
</html>
