<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	
	<title><SITE_TITLE> :: A b o u t</title>
	<FEED_AUTO_DISCOVERY>

	<meta http-equiv="content-type" name="keywords" content="about <SITE_TITLE>" />
	<meta http-equiv="content-type" name="description" content="<SITE_TITLE> Personal Photographic Diary Peter Borbely, Hungarian photographer Sydney, Australia" /> 
	<meta name="geo.country" content="AU" />
	<meta name="geo.region" content="AU-NSW" />
	<meta name="geo.placename" content="Sydney" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="author" content="Peter Borbely" />
	<meta name="blogchalk" content="Australia, NSW, Sydney, Hungarian, English, Peter Borbely, photography, photoblog, streetphotography, landscape, portrait"/>
	<meta name="PBO.auth" content="c43230006c31b46c17211be8776a60ea" />

	<link rel="stylesheet" href="templates/coverflow/styles/coverflow.css" type="text/css" media="screen" />
		
	<!-- Start of StatCounter Code -->
	<script type="text/javascript">
	<!-- 
	var sc_project=496994; 
	var sc_partition=3; 
	var sc_security=""; 
	var sc_invisible=1; 
	//-->
	</script>
	<script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script>
	<!-- End of StatCounter Code -->

</head>

<body>
	<div class="container">
		<div id="banner" style="padding:4px 8px;">
			<span class="links" style="text-align:left;	float:right;">
			
				<a href="index.php?showimage=<IMAGE_RANDOM>" >random</a>
				<a href="index.php?x=browse">archive</a>
				<a href="index.php?x=about">info</a>
				<a href="index.php?x=rss">rss</a>
												
				<a href="http://www.gelatinpixel.com/portfolio/contact.html" title="contact">contact</a> 
				<a href="http://study.gelatinpixel.com/wp/" title="studylog">study</a> 
				<a href="http://www.gelatinpixel.com" title="gelatinpixel.com home">gelatinpixel.com</a>
			</span>
				<h1><a href="index.php" title="home"><SITE_TITLE></a></h1><!-- : info -->
		</div> 
			
		<div id="about">
			<h2>WELCOME to <SITE_TITLE></h2>
			<p>a part of <a href="http://gelatinpixel.com">gelatinpixel.com</a></p>
			<h3>STATS</h3>
			<p><strong><ADVNCD_SITE_VISITORNUMBER></strong> visitors and <strong><SITE_PHOTONUMBER></strong> photos posted<br /> since I smartly killed db in late December 05.</p>
			<h3>CONTACT</h3>
			<p>You can contact me via the gelatinpixel <a href="http://gelatinpixel.com/portfolio/contact.html">contact</a> form.</p>
			<h3>COPYRIGHT NOTICE</h3>
			<p>This work is protected by copyright law as stated by the <a href="http://www.copyright.org.au" target="_blank">Australian Copyright Council</a>. All rights of the displayed works are reserved and are <strong>&copy; Peter Borbely 2004-2008</strong> unless otherwise stated. For guest entries, please look for link at image information.</p>
		</div>
	</div>
		
		<!-- Start of StatCounter Code -->
		<script type="text/javascript">
		<!-- 
		var sc_project=496994; 
		var sc_invisible=1; 
		var sc_partition=3; 
		var sc_security=""; 
		var sc_remove_link=1; 
		//-->
		</script>

		<script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script><noscript><div class="statcounter"><img class="statcounter" src="http://c4.statcounter.com/counter.php?sc_project=496994&amp;java=0&amp;security=&amp;invisible=1" alt="web log free" /></div></noscript>
		<!-- End of StatCounter Code -->


	</body>
</html>