<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

	<head>
		<title><IMAGE_TITLE> | <SITE_TITLE></title>
		<FEED_AUTO_DISCOVERY>
<!-- META -->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="content-type" name="keywords" content="PhotoBlog,<SITE_TITLE>,<IMAGE_TITLE>,Pixelpost,Peter Borbely Photographer, Landscape, portrait, street photography" />
<meta http-equiv="content-type" name="description" content="<SITE_TITLE>: <IMAGE_TITLE>, <IMAGE_NOTES_CLEAN>, Personal Photographic Diary of a Hungarian photographers life in Sydney, Australia," />
<meta name="geo.country" content="AU" />
<meta name="geo.region" content="AU-NSW" />
<meta name="geo.placename" content="Sydney" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="author" content="Peter Borbely" />
<meta name="blogchalk" content="Australia, NSW, Sydney, Hungarian, English, Peter Borbely, photography, photoblog, streetphotography, landscape, portrait"/>
<meta name="PBO.auth" content="c43230006c31b46c17211be8776a60ea" />

		<link rel="stylesheet" title="Styles" href="templates/coverflow/styles/coverflow.css" type="text/css" media="screen" />
		
		<script type="text/javascript" src="overlib/overlib.js"></script>
		<script type="text/javascript" src="templates/coverflow/js/jquery.js"></script>
		<script type="text/javascript">
		$(document).ready(function(){
			$("a.detailsLink").click(function(){
				$("div#details").slideToggle();
				return false;
			});
		});
		</script>
		
		<!-- No right click -->

		<script language="javascript" type="text/javascript">
		<!--

		var message="Copyright: P Borbely - more on page: info";

		function clickIE4(){
		if (event.button==2){
		alert(message);
		return false;
		}
		}

		function clickNS4(e){
		if (document.layers||document.getElementById&&!document.all){
		if (e.which==2||e.which==3){
		alert(message);
		return false;
		}
		}
		}

		if (document.layers){
		document.captureEvents(Event.MOUSEDOWN);
		document.onmousedown=clickNS4;
		}
		else if (document.all&&!document.getElementById){
		document.onmousedown=clickIE4;
		}

		document.oncontextmenu=new Function("alert(message);return false")
		// -->
		</script>

		<!-- End no right click -->



	</head>
	<body>
	<div class="container">
			<div id="banner" style="padding:4px 8px;">
				<span class="links" style="text-align:left;	float:right;">
				
					<a href="index.php?showimage=<IMAGE_PREVIOUS_ID>" title="previous image"><strong>&larr;</strong></a>
					<a href="index.php?showimage=<IMAGE_NEXT_ID>"title="next image"><strong>&rarr;</strong></a>
					<a href="#" class="detailsLink">info &amp; comments (<IMAGE_COMMENTS_NUMBER>)</a>
					<a href="index.php?showimage=<IMAGE_RANDOM>" title="random image">random</a>
					<a href="index.php?x=browse" title="browse archives">archive</a>
					<a href="index.php?x=about" title="about the site">info</a>
					<a href="index.php?x=rss" title="subscribe">rss</a>
															
					<a href="http://www.gelatinpixel.com/portfolio/contact.html" title="contact">contact</a> 
					<a href="http://study.gelatinpixel.com/wp/" title="studylog">study</a> 
					<a href="http://www.gelatinpixel.com" title="gelatinpixel.com home">gelatinpixel.com</a>
			
				</span>
			
					<h1><a href="index.php" title="latest post"><SITE_TITLE>: </a><IMAGE_TITLE> <em>(<IMAGE_DATE_YEAR_FULL> <IMAGE_DATE_MONTH> <IMAGE_DATE_DAY>)</em></div></h1>
			
			</div>	

	<div id="details">
		<table cellpadding="10" cellspacing="0" border="0" id="detailsContent">
			<td valign="top" width="50%">
				<h2><IMAGE_TITLE></h2>
				<div id="notes">
				<IMAGE_THUMBNAIL_NO_LINK>
				<IMAGE_NOTES>
				</div>
				<!-- <h3>EXIF</h3>
				<strong>Focal Length:</strong> <EXIF_FOCAL_LENGTH><br />
				<strong>Exposure:</strong> <EXIF_EXPOSURE_TIME><br />
				<strong>Aperture:</strong> <EXIF_APERTURE><br />
				<strong>ISO:</strong><EXIF_ISO>
				<h3>Tags</h3>
				<div class="tagLinks"><TAG_IMG_LIST> --></div>
			</td>
			<td valign="top" width="50%">
				<h3>Comments</h3>
								<div id="commentsList"><IMAGE_COMMENTS></div>
								<h3>Add a Comment</h3>
								<form method='post' action='index.php?x=save_comment' name='commentform' accept-charset='UTF-8'>
									<TOKEN>
									<textarea name='message' rows='4' cols='40' onfocus="this.value='';">Type your comment here.</textarea>
									<br />
									<br />
									<input type='text' name='name' class='input' value='<VINFO_NAME>' id="name" size="40"/>
									<br />
									<label for="name">Name</label>
									<br />
									<br />
									<input type='text' name='url' class='input' value='<VINFO_URL>' id="url" size="40"/>
									<br />
									<label for="url">Website URL, if any</label>
									<br />
									<br />
									<input class='input' type='text' name='email' value='<VINFO_EMAIL>' id="email" size="40"/>
									<br />
									<label for="email">Email (not visible to others)</label>
									<br />
									<br />
									<input name='vcookie' type='checkbox' id="saveinfo" value='set' checked="checked" />
									<label for="saveinfo">Save User Info</label>
									<br />
									<br />
									&nbsp;&nbsp;
									<input type='submit' value='Add' class="comment-button"/>
									<input type='hidden' name='parent_id' value='<IMAGE_ID>' />
									<input type='hidden' name='parent_name' value='<IMAGE_NAME>' />
									<input type="hidden" name="withthankyou" value="no" />
								</form>
			</td>
		</table>
	</div>
	<div id="photo">
	<a href="index.php?showimage=<IMAGE_PREVIOUS_ID>"><img src="reflect.php?img=images/<IMAGE_NAME>" alt="<IMAGE_TITLE>" border="0"/></a>
	</div>
	</div>
	</body>
</html>